<div>
	<div class="container">
        <h1>Login</h1>
		<div class="row">
			<div class="col-sm-6">
				<form name="loginForm" ng-submit="submitForm()" novalidate>
					<div class="form-group">
						<label>Name</label>
						<input type="text" name="name" class="form-control" ng-model="user.username" required>
						<p ng-show="loginForm.name.$pristine" class="help-block">Your username is required</p>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" name="password" class="form-control" ng-model="user.password" required>
						<p ng-show="loginForm.password.$pristine" class="help-block">Your password is required</p>
					</div>

					<button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>